.menu--container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 7.1rem;
    background-color: rgb(252, 252, 241);
}

.menu--category {
    font-family: 'Times New Roman';
    width: 96%;
    margin: 30px 0;
    padding: 0;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
}

.menu--category h2 {
    font-size: 1.9rem;
}

li>p {
    font-size: 1rem;
    font-family: sans-serif;
}

.menu--category>li {
    padding: 15px 20px;
}

.menu--bg--container {
    background: url(../assets/images/phobackground.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
}

.pho--background {
    width: 100%;
    display: flex;
    justify-content: center;
    background: url(../assets/bannerImages/pho.jpeg);
    background-size: cover;
    background-position: center;
}

.noodles--background {
    width: 100%;
    display: flex;
    justify-content: center;
    background: url(../assets/bannerImages/noodlesEggWonton.jpg);
    background-size: cover;
    background-position: bottom;
}

.vermicelli--background {
    width: 100%;
    display: flex;
    justify-content: center;
    background: url(../assets/bannerImages/vermicelli.jpg);
    background-size: cover;
    background-position: center;
}

.stirFriedNoodle--background {
    width: 100%;
    display: flex;
    justify-content: center;
    background: url(../assets/bannerImages/stirFriedNoodles.jpg);
    background-size: cover;
    background-position: bottom;
}

.banner--holder {
    width: 100%;
    border-radius: 10px;
}

.friedRice--background {
    width: 100%;
    display: flex;
    justify-content: center;
    background: url(../assets/bannerImages/friedRice.jpg);
    background-size: cover;
    background-position: bottom;
}

.hotPot--background {
    width: 100%;
    display: flex;
    justify-content: center;
    background: url(../assets/bannerImages/hotpot.jpg);
    background-size: cover;
    background-position: center;
}

.camTamRiceDish--background {
    width: 100%;
    display: flex;
    justify-content: center;
    background: url(../assets/bannerImages/camTam.jpg);
    background-size: cover;
    background-position: center;
}

.doChay--background {
    width: 100%;
    display: flex;
    justify-content: center;
    background: url(../assets/bannerImages/loMeinTofu.jpg);
    background-size: cover;
    background-position: bottom;
}

.loMein--background {
    width: 100%;
    display: flex;
    justify-content: center;
    background: url(../assets/bannerImages/beefLoMein.jpg);
    background-size: cover;
    background-position: center;
}

.kidsPho--background {
    width: 100%;
    display: flex;
    justify-content: center;
    background: url(../assets/bannerImages/kidsPho.jpg);
    background-size: cover;
    background-position: center;
}

.thucuong--background {
    width: 100%;
    display: flex;
    justify-content: center;
    background: url(../assets/bannerImages/cafeSuaDa.jpg);
    background-size: cover;
    background-position: center;
}


.chefSpecial--background {
    width: 100%;
    display: flex;
    justify-content: center;
    background: url(../assets/bannerImages/bunBoHue.jpg);
    background-size: cover;
    background-position: center;
}

.bg--fade {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.274);
    z-index: -1;
}


.category--banner {
    height: 180px;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    background-color: rgba(29, 29, 29, 0.39);
}

.menu--links {
    display: none;
    padding: 10px;
    flex-flow: wrap;
    justify-content: center;
    position: fixed;
    top: 7.1rem;
    right: 0;
    background-color: bisque;

}

.menu--links a {
    text-align: center;
    padding: 10px;
    background-color: rgba(205, 170, 57, 0.274);
    border-radius: 10px;
    margin: 5px;
}

.menu--separator {
    width: 100%;
    border-top: 1px solid white;
    margin: 8px 0;
}


@media only screen and (min-width: 950px) {

    .menu--category {
        max-width: 400px;
    }

    .menu--container {
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: space-evenly;
        align-items: flex-start;
    }


}