.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px;
    z-index: 10;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo-link {
    padding: 7px;
    margin-left: 20px;
}

.logo-link:hover {
    text-decoration: none;
}


.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.nav-item {
    margin-left: 3rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0 10px;
    text-decoration: none;
    padding: 15px;
}

.nav--logo {
    display: flex;
    align-items: flex-start;
}

.nav--logo h1 {
    color: rgb(216, 160, 77) !important;
}


.nav-link:hover {
    text-decoration: none;
    transform: scale(1.1);
}


.hamburger {
    display: none;
}

.logo--pic {
    width: 50px;

}


@media only screen and (max-width: 950px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .nav-menu.active {
        left: 0;
        opacity: 1;
    }

    .nav-item {
        margin: 1rem 0;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        opacity: 0;
        top: 6.5rem;
        flex-direction: column;
        background-color: rgb(216, 181, 135);
        height: 70%;
        width: 100%;
        text-align: center;
        transition: .7s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 6;
    }

}

@media only screen and (min-width:950px) {
    .active {
        color: rgb(216, 160, 77)
    }
}