html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: arista;
  src: url(./assets/fonts/arista-pro/Arista-Pro/Arista-Pro-Alternate-Bold-trial.ttf);
}


#root,
.App {
  width: 100%;
  height: 100%;
}


.header {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: white;
  background-color: rgba(2, 1, 1, 0.158);
  -webkit-text-stroke: .5px black;
  height: 370px;
  align-items: flex-end;
  box-shadow: 1px 1px -3px black;
}

.header img {
  margin: 0 -10px;
  margin-right: -6px;
  width: 50px;
}

nav {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-evenly;
  height: 70px;
  background-color: rgba(11, 28, 44, 0.753);
  color: white;
  height: 100px;
  align-items: center;
  box-shadow: 1px 1px 3px 5px rgba(0, 0, 0, 0.568);
}

nav>a {
  margin: 2px 10px;
  text-decoration: none;
  color: white;
  padding: 15px;
}

.active {
  color: blanchedalmond
}

nav>a:hover {
  text-decoration: none;
  transform: scale(1.2);
  text-shadow: 1px 1px 1px #000;
}

a:visited {
  text-decoration: none;
}

.headerVideo {
  width: 100%;
  position: relative;
  top: 130px;
}

.video--container {
  display: flex;
  position: absolute;
  width: 100vw;
  z-index: -1;
  overflow: hidden;
}




.bg-image {
  background-image: url(../src/assets/images/pho2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.home {
  position: absolute;
  z-index: 2;
  color: white;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 1, 1, 0.342);
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
}

.home h1 {
  font-family: arista;
}

.map--image {
  max-width: 700px;
  border-radius: 19px;
}

.contactPage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcfaf6a8;
  height: 100%;
}

.contact--info {
  margin-right: 100px;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials img {
  width: 40px;
}

.socials button {
  border: none;
  background-color: transparent;
  margin: 0 20px;
}

.socials button:hover {
  cursor: pointer;
  transform: scale(1.2)
}

.menu--container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.menu--category {
  font-family: 'Times New Roman';
  width: 50%;
  margin: 30px 0;
  padding: 0;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: rgba(0, 0, 0, 0.459);
  color: white;
}

ul li {
  list-style: none;
}

.app--background {
  display: flex;
  justify-content: center;
  background: url(./assets/bannerImages/apps.jpg);
  background-size: cover;
}

.pho--background {
  width: 100%;
  display: flex;
  justify-content: center;
  background: url(./assets/bannerImages/pho.jpeg);
  background-size: cover;
  background-position: center;
}

.noodles--background {
  width: 100%;
  display: flex;
  justify-content: center;
  background: url(./assets/bannerImages/noodlesEggWonton.jpg);
  background-size: cover;
  background-position: bottom;
}

.vermicelli--background {
  width: 100%;
  display: flex;
  justify-content: center;
  background: url(./assets/bannerImages/vermicelli.jpg);
  background-size: cover;
  background-position: center;
}

.stirFriedNoodle--background {
  width: 100%;
  display: flex;
  justify-content: center;
  background: url(./assets/bannerImages/stirFriedNoodles.jpg);
  background-size: cover;
  background-position: bottom;
}

.banner--holder {
  width: 100%;
  border-radius: 10px;
}

.friedRice--background {
  width: 100%;
  display: flex;
  justify-content: center;
  background: url(./assets/bannerImages/friedRice.jpg);
  background-size: cover;
  background-position: bottom;
}

.hotPot--background {
  width: 100%;
  display: flex;
  justify-content: center;
  background: url(./assets/bannerImages/hotpot.jpg);
  background-size: cover;
  background-position: center;
}

.camTamRiceDish--background {
  width: 100%;
  display: flex;
  justify-content: center;
  background: url(./assets/bannerImages/camTam.jpg);
  background-size: cover;
  background-position: center;
}

.doChay--background {
  width: 100%;
  display: flex;
  justify-content: center;
  background: url(./assets/bannerImages/loMeinTofu.jpg);
  background-size: cover;
  background-position: bottom;
}

.loMein--background {
  width: 100%;
  display: flex;
  justify-content: center;
  background: url(./assets/bannerImages/beefLoMein.jpg);
  background-size: cover;
  background-position: center;
}

.kidsPho--background {
  width: 100%;
  display: flex;
  justify-content: center;
  background: url(./assets/bannerImages/kidsPho.jpg);
  background-size: cover;
  background-position: center;
}

.thucuong--background {
  width: 100%;
  display: flex;
  justify-content: center;
  background: url(./assets/bannerImages/cafeSuaDa.jpg);
  background-size: cover;
  background-position: center;
}


.chefSpecial--background {
  width: 100%;
  display: flex;
  justify-content: center;
  background: url(./assets/bannerImages/bunBoHue.jpg);
  background-size: cover;
  background-position: center;
}



.category--banner {
  height: 180px;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  background-color: rgba(29, 29, 29, 0.39);
}

.menu--category>li {
  padding: 15px 0;
}

.menu--bg--container {
  background-image: url(./assets/images/phobackground.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  z-index: -2;
}

.content {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.bg--fade {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.274);
  z-index: -1;
}


.carousel-item {
  width: 100%;
}

.carousel {
  width: 550px;
  margin-top: 100px;
}

.aboutBlurb {
  text-align: center;
  padding: 50px;
}

.aboutContainer {
  background-color: #fcfaf6a8;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;

}

.hamburger {
  display: none;
}

@media only screen and (max-width: 950px) {
  nav>a {
    position: absolute;
    left: 500px;
  }
}