html,
body {
  width: 100%;
}

@font-face {
  font-family: arista;
  src: url(./fonts/arista-pro/Arista-Pro/Arista-Pro-Alternate-Regular-trial.ttf);
}

.header {
  display: flex;
  justify-content: center;
  font-family: arista;
  font-size: 1.5rem;
  background-color: rgb(247, 224, 196);
}

.header img {
  margin: 0 -10px;
  margin-right: -6px;
}